{% macro doc_attributes(dict, mkey) -%}
        {%- for key,value in dict |dictsort %}
        {{value['name']}}:
            description:
                - {%if ":" in value['help'] -%}"{%-endif-%}{{ value['help'] }} {%- if 'datasource' in value %} Source {{value['datasource']|join(' ')}}.{%-endif-%}{%if ":" in value['help'] -%}"{%-endif-%}
            {%- if key == mkey %}
            required: true
            {%- endif -%}
            {%- if "options" in value %}
            choices:
                {%- for v in value["options"] %}
                - {{ v["name"] }}
                {%- endfor -%}
            {%- endif -%}
            {%- if value["category"] == "table" or value["category"] == "complex" %}
            suboptions:{{ doc_attributes(value["children"], value["mkey"])|indent|indent}}
            {%- endif -%}
            {% endfor -%}
{%- endmacro %}#!/usr/bin/python
from __future__ import (absolute_import, division, print_function)
# Copyright 2019 Fortinet, Inc.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# the lib use python logging can get it if the following is set in your
# Ansible config.

__metaclass__ = type

ANSIBLE_METADATA = {'status': ['preview'],
                    'supported_by': 'community',
                    'metadata_version': '1.1'}

DOCUMENTATION = '''
---
module: {{module_name}}
short_description: {{short_description}}
description:
    - This module is able to configure a FortiGate or FortiOS by
      allowing the user to configure {{path}} feature and {{name}} category.
      Examples includes all options and need to be adjusted to datasources before usage.
      Tested with FOS {{version}}
version_added: "2.8"
author:
    - Miguel Angel Munoz (@mamunozgonzalez)
    - Nicolas Thomas (@thomnico)
notes:
    - Requires fortiosapi library developed by Fortinet
    - Run as a local_action in your playbook
requirements:
    - fortiosapi>=0.9.8
options:
    host:
       description:
            - FortiOS or FortiGate ip address.
       required: true
    username:
        description:
            - FortiOS or FortiGate username.
        required: true
    password:
        description:
            - FortiOS or FortiGate password.
        default: ""
    vdom:
        description:
            - Virtual domain, among those defined previously. A vdom is a
              virtual instance of the FortiGate that can be configured and
              used as a different unit.
        default: root
    https:
        description:
            - Indicates if the requests towards FortiGate must use HTTPS
              protocol
        type: bool
        default: true
    {{path}}_{{name}}:
        description:
            - {{schema['schema']['help']}}
        default: null
        suboptions: 
            {%-if "mkey" in schema['schema'] %}
            state: 
                description: 
                    - Indicates whether to create or remove the object
                choices:
                    - present
                    - absent
                {%-endif-%}{{ doc_attributes(schema['schema']['children'], schema['schema']['mkey'])|indent }}
'''

