{% macro example_attributes(dict) -%}
      {%- for key, value in dict | dictsort %}
        {{key}}: 
      {%- if counter.update({'id': counter['id']+1 }) -%}{%-endif-%}
      {%- set id = counter['id']-%}
      {%- if 'datasource' in value -%} {%- set ds = " (source " + value['datasource']|join(' ') + ")" -%} {%-endif-%}
      {%- if value['category'] == 'table' %}
         - {{- example_attributes(value['children']) |indent}} 
      {%- elif value['category'] == 'complex'%}
         {{- example_attributes(value['children']) |indent}} 
      {%- elif key == 'comment' %} "{{value['help']}}{{ds}}"
      {%- elif key == 'name' %} "default_name_{{id}}{{ds}}"
      {%- elif key == 'id' %}  "{{id}}{{ds}}"
      {%- elif key == 'server' %} "192.168.100.40{{ds}}"
      {%- elif key == 'source-ip' %} "84.230.14.43{{ds}}"
      {%- elif 'identifier' in key and value['type']=='string' %}  "myId_{{id}}{{ds}}"
      {%- elif value['category'] == 'unitary' and value['type']=='option' and "options" in value%} "{%if value['options']| length > 0 %}{{value['options'][0]['name']}}{%else%}<your_own_value>{{ds}}{%endif%}"
      {%- elif value['category'] == 'unitary' and value['type']=='integer'%} "{{id}}{{ds}}"
      {%- elif key == 'url' %} "http://myurl.com{{ds}}"
      {%- elif ("host" in key) and value['type']=='string' %} "myhostname{{ds}}"
      {%- else %} "<your_own_value>{{ds}}"
      {%- endif -%}
      {%- endfor -%}
{%- endmacro -%}
{%- set counter = {'id':2} %}
EXAMPLES = '''
- hosts: localhost
  vars:
   host: "192.168.122.40"
   username: "admin"
   password: ""
   vdom: "root"
  tasks:
  - name: {{schema['schema']['help']}}
    {{module_name}}:
      host:  "{{ '{{' }} host {{ '}}' }}"
      username: "{{ '{{' }} username {{ '}}' }}"
      password: "{{ '{{' }} password {{ '}}' }}"
      vdom:  "{{ '{{' }} vdom {{ '}}' }}"
      {{path}}_{{name}}:{%-if "mkey" in schema['schema']%}
        state: "present"{%endif-%}{{ example_attributes(schema['schema']['children']) }}
'''
